#translations-content .translation {
  font-size: 16px;
  line-height: 19px;
  display: inline-block;
  padding: 5px;
  background-color: #eef8ff;
  border: 1px solid #9bbbcd;
  color: #32485f;
  border-radius: 3px;
  font-weight: 400;
  font-family: 'Tahoma', 'Meiryo', arial, sans-serif;
  letter-spacing: -0.5px;
  margin-right: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  transition: 0.5s ease border-color;
  box-sizing: border-box;
}
